html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;

    color: rgb(200, 200, 200);
    background-color: #242424;
}

body {
    display: flex;
    flex-direction: column;
}

.footer {
    margin-left: 18%;
    padding-top: 8px;
    padding-bottom: 2px;
    display: flex;

    font-size: 13px;
    background-color: #1f1f1f;
}

.copyright {
    margin: 0px;
    margin-right: 10px;
    margin-left: auto;

    order: 2;
}

.ghLink {
    margin: 0px;
    margin-left: 10px;
    margin-right: auto;

    order: 1;
}

.ghLink a {
    color: rgb(30, 100, 220);
    text-decoration: none;
}

/* content bereich */
.mediaSpace {
    display: flex;
    flex: 1;
   
    justify-content: center;
    align-items: flex-start;
    
    background-color: #242424;
    color: rgb(230, 230, 230);
    padding-left: 10px;
    margin-left: 18%;
    box-sizing: border-box;
}

/* Lightmode */
@media(prefers-color-scheme: light) {
    html, body {
        color: black;
        background-color: white;
    }

    .mediaSpace {
        color: black;
        background-color: white;
    }

    .footer {
        background-color: #eeeeee;
    }
}

@media(max-width: 2400px) {
    .mediaSpace {
        margin-left: 250px;
    }

    .footer {
        margin-left: 250px;
    }

}

@media(max-width: 1600px) {
    .mediaSpace {
        margin-left: 200px;
    }

    .footer {
        margin-left: 200px;
    }
}

/* bei kleinem screen wird sidebar ausgeblendtet und button eingeblendet */
@media(max-width: 800px) {
    .mediaSpace {
        margin-left: 5px;
        margin-top: 45px;
    }

    .footer {
        margin-left: 0px;
        flex-direction: column;
        align-content: center;
        text-align: center;
    }

    .copyright {
        margin-right: 0;
        margin-left: 0;
    }

    .ghLink {
        margin-left: 0;
        margin-right: 0;
    }
}